In [3]:
import requests 
import datetime
URL = "https://api.data.gov.sg/v1/transport/carpark-availability"

In [4]:
from datetime import datetime, timedelta
now = datetime.now()

def hour_rounder(t):
    # Rounds to nearest hour by adding a timedelta hour if minute >= 30
    return (t.replace(second=0, microsecond=0, minute=0, hour=t.hour))

In [5]:
time_now = hour_rounder(now)

In [3]:
# sending get request and saving the response as response object 
x = hour_rounder(now)
big_d = dict()
i = 0
while (i<1344):
    try:
        z = x
        if x.hour == 0:
            z += timedelta(seconds = 80)
        z = str(z).replace(' ', 'T')
        y = str(x).replace(' ', 'T')
        r = requests.get(url = URL +'?date_time=' + z)
        data = r.json()
        big_d[y] = data['items'][0]['carpark_data']
        x -= timedelta(hours = 1)
        i += 1
    except:
        print(y)

2019-09-12T23:00:00
2019-09-11T03:00:00
2019-09-08T10:00:00
2019-09-05T20:00:00
2019-08-26T21:00:00
2019-08-23T06:00:00
2019-08-22T16:00:00
2019-08-20T06:00:00
2019-08-20T00:00:00
2019-08-18T04:00:00
2019-08-17T23:00:00
2019-08-17T15:00:00
2019-08-16T12:00:00
2019-08-16T09:00:00
2019-08-15T07:00:00
2019-08-15T01:00:00
2019-08-14T20:00:00
2019-08-14T20:00:00
2019-08-14T13:00:00
2019-08-14T08:00:00
2019-08-14T05:00:00
2019-08-14T05:00:00
2019-08-13T20:00:00
2019-08-13T17:00:00
2019-08-13T13:00:00
2019-08-13T13:00:00
2019-08-13T08:00:00
2019-08-12T20:00:00
2019-08-12T15:00:00
2019-08-12T13:00:00
2019-08-12T12:00:00
2019-08-12T07:00:00
2019-08-12T03:00:00
2019-08-12T03:00:00
2019-08-11T23:00:00
2019-08-11T21:00:00
2019-08-11T21:00:00
2019-08-05T01:00:00
2019-08-02T17:00:00
2019-08-01T07:00:00
2019-07-30T08:00:00

In [7]:
import pandas as pd

In [5]:
len(big_d)

1344

In [9]:
out_lst = []
for date in big_d:
    for d in big_d[date]:
        in_lst= list(d['carpark_info'][0].values())
        in_lst.append(d['carpark_number'])
        in_lst.append(d['update_datetime'])
        in_lst.append(date)
        out_lst.append(in_lst)

NameError: name 'big_d' is not defined

In [8]:
df = pd.DataFrame(out_lst)

NameError: name 'out_lst' is not defined

In [9]:
df.columns = ['Total', 'Type', 'Available', 'ID', 'update_datetime','Date']

In [11]:
df = df.drop('update_datetime', axis = 1)

In [23]:
df.to_csv('carpark.csv', index = False)

In [14]:
df['hour'] = df.Date.str.split('T', expand= True).iloc[:, 1]

In [10]:
df = pd.read_csv('carpark.csv')

In [11]:
def get_available_trend(df, dt, carparkid):
    reqd_dt = [dt - timedelta(days = 7*i) for i in range(1,9)]
    reqd_time  = []
    for date in reqd_dt:
        for i in range(-4,5):
            reqd_time.append(str(date + timedelta(hours = i)).replace(' ', 'T'))
    temp_df = df[df.ID == carparkid]
    temp_df = temp_df[temp_df.Date.isin(reqd_time)]
    return temp_df.groupby('hour').agg(np.mean).round()

In [12]:
x = get_available_trend(df, time_now - timedelta(days = 2) , 'RHM')

In [13]:
x

          Total  Available
hour
11:00:00  322.0      198.0
12:00:00  322.0      184.0
13:00:00  322.0      161.0
14:00:00  322.0      203.0
15:00:00  322.0      247.0
16:00:00  322.0      251.0
17:00:00  322.0      251.0
18:00:00  322.0      244.0
19:00:00  322.0      224.0

In [32]:
df

         Total Type  Available     ID                 Date      hour
0           83    C          0   HE12  2019-09-15T18:00:00  18:00:00
1          583    C        385    HLM  2019-09-15T18:00:00  18:00:00
2          322    C        215    RHM  2019-09-15T18:00:00  18:00:00
3           97    C         55   BM29  2019-09-15T18:00:00  18:00:00
4           96    C         53    Q81  2019-09-15T18:00:00  18:00:00
5          173    C          2    C20  2019-09-15T18:00:00  18:00:00
6          228    C        179   FR3M  2019-09-15T18:00:00  18:00:00
7          289    C        170    C32  2019-09-15T18:00:00  18:00:00
8          332    C        123     C6  2019-09-15T18:00:00  18:00:00
9          273    C        109    TG2  2019-09-15T18:00:00  18:00:00
10         543    C        298    BP1  2019-09-15T18:00:00  18:00:00
11         133    C         73    TG1  2019-09-15T18:00:00  18:00:00
12         189    C        127   TGM2  2019-09-15T18:00:00  18:00:00
13         138    C         53   TE14  2019-09-15T18:00:00  18:00:00
14          48    C          0    BM3  2019-09-15T18:00:00  18:00:00
15         612    C        121    BM9  2019-09-15T18:00:00  18:00:00
16         180    C         48   HG44  2019-09-15T18:00:00  18:00:00
17          80    C         22   HG64  2019-09-15T18:00:00  18:00:00
18         308    C         11   PM27  2019-09-15T18:00:00  18:00:00
19         302    C         75   PM28  2019-09-15T18:00:00  18:00:00
20         221    C         81   TM36  2019-09-15T18:00:00  18:00:00
21         238    C        116   TM37  2019-09-15T18:00:00  18:00:00
22         362    C        123    T50  2019-09-15T18:00:00  18:00:00
23         351    C         88    T51  2019-09-15T18:00:00  18:00:00
24         249    C        161   TM43  2019-09-15T18:00:00  18:00:00
25          30    C          8    T15  2019-09-15T18:00:00  18:00:00
26         107    C         32    T16  2019-09-15T18:00:00  18:00:00
27         245    C         45    T17  2019-09-15T18:00:00  18:00:00
28          84    C          6    T18  2019-09-15T18:00:00  18:00:00
29         197    C         63     B9  2019-09-15T18:00:00  18:00:00
...        ...  ...        ...    ...                  ...       ...
2698999     32    C          8   HG2D  2019-07-21T19:00:00  19:00:00
2699000    350    C        259    J44  2019-07-21T19:00:00  19:00:00
2699001    452    C        385    U66  2019-07-21T19:00:00  19:00:00
2699002    300    C        203    U65  2019-07-21T19:00:00  19:00:00
2699003    425    C        324   W182  2019-07-21T19:00:00  19:00:00
2699004    540    C        440   W185  2019-07-21T19:00:00  19:00:00
2699005    762    C        513   Y73M  2019-07-21T19:00:00  19:00:00
2699006    379    C        291   Y74M  2019-07-21T19:00:00  19:00:00
2699007    379    C        327   Y75M  2019-07-21T19:00:00  19:00:00
2699008    421    C        276   Y76M  2019-07-21T19:00:00  19:00:00
2699009    395    C        310   SB42  2019-07-21T19:00:00  19:00:00
2699010      3    C          3   S36L  2019-07-21T19:00:00  19:00:00
2699011      8    C          5   S38L  2019-07-21T19:00:00  19:00:00
2699012      4    C          4   S40L  2019-07-21T19:00:00  19:00:00
2699013     85    C          0  N0012  2019-07-21T19:00:00  19:00:00
2699014     70    C         24    U63  2019-07-21T19:00:00  19:00:00
2699015     98    C         69   B44B  2019-07-21T19:00:00  19:00:00
2699016    305    C        256   C28M  2019-07-21T19:00:00  19:00:00
2699017    100    C         66   TWM4  2019-07-21T19:00:00  19:00:00
2699018    235    C        114    U54  2019-07-21T19:00:00  19:00:00
2699019      2    C          0    J8M  2019-07-21T19:00:00  19:00:00
2699020    402    C         71    Y35  2019-07-21T19:00:00  19:00:00
2699021    265    C          0   W100  2019-07-21T19:00:00  19:00:00
2699022    634    C        237   W546  2019-07-21T19:00:00  19:00:00
2699023    278    C        250    BA1  2019-07-21T19:00:00  19:00:00
2699024    204    Y         35     C5  2019-07-21T19:00:00  19:00:00
2699025    258    C        198    U68  2019-07-21T19:00:00  19:00:00
2699026    549    C        392   SB35  2019-07-21T19:00:00  19:00:00
2699027    417    C        147    J29  2019-07-21T19:00:00  19:00:00
2699028    500    C        425   J74M  2019-07-21T19:00:00  19:00:00

[2699029 rows x 6 columns]

In [101]:
def getSpreadsheetNotation(n):
    # Write your code here
    row = (n//702) + 1
    if n == 702:
        row = 1
    col = n % 702
    if col == 0:
        col += 702
    col_1 = ''
    if col > 26:
        if col//26 == 27:
            col_1 = 'Z'
        else:
            col_1 = chr(96+col//26).upper()
    if col %26 == 0 :
        col_2 = chr(96+ col%26 + 26).upper()
    else:
        col_2 = chr(96+ col%26 ).upper()
    return str(row) + col_1 + col_2

In [104]:
getSpreadsheetNotation(703)

'2A'

In [96]:
702//26

27

In [59]:
703//703

1

In [24]:
def CheckMatchingParentheses(inputStr):
    openB = 0
    closeB = 0 
    closed = False
    for x in inputStr:
        if x == ')' and closeB < openB:
            closeB += 1
        elif x == '(':
            openB += 1
    return openB == closeB

In [25]:
CheckMatchingParentheses('(abc)')

1 1

True

In [27]:
int('0012')

12

In [40]:
import re
def removeTrailingDigits(inputStr):
    return re.findall(r'(\S+\D+)', inputStr)[0]

In [45]:
removeTrailingDigits('123A123B12C123')

'123A123B12C'